<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/lanyon.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/custom.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

  <!-- Icons -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.png">
  <link rel="icon" sizes="192x192" href="{{ site.baseurl }}/public/favicon-192.png">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ site.baseurl }}/public/favicon-76.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.baseurl }}/public/favicon-120.png">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.baseurl }}/public/favicon-152.png">
  <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{{ site.baseurl }}/public/favicon-180.png">

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">

  <meta name="lightning" content="lnurl:stick@coinos.io" />

  <meta property="twitter:account_id" content="15168247" />
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@pavolrusnak">
  <meta name="twitter:creator" content="@pavolrusnak">
  <meta name="twitter:title" content="{{ page.title }} &middot; {{ site.title }}">
  <meta name="twitter:description" content="{{ site.tagline }}">
  <meta name="twitter:image:src" content="{{ site.url }}{{ site.baseurl }}/public/share.jpg">
  <meta name="twitter:image:width" content="400">
  <meta name="twitter:image:height" content="400">
  <meta name="twitter:domain" content="rusnak.io">

  <meta property="og:title" content="{{ page.title }} &middot; {{ site.title }}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/public/share.jpg"/>
  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:description" content="{{ site.tagline }}"/>

</head>
