<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p><i class="fa fa-user fa-fw"></i> {{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/"><i class="fa fa-home fa-fw"></i> Home</a>
    <a class="sidebar-nav-item" href="/projects"><i class="fa fa-thumbs-up fa-fw"></i> Projects</a>
    <a class="sidebar-nav-item" href="/about"><i class="fa fa-info-circle fa-fw"></i> About</a>
    <a class="sidebar-nav-item" href="/archive"><i class="fa fa-archive fa-fw"></i> Archive</a>
    <a class="sidebar-nav-item" href="mailto:stick@gk2.sk"><i class="fa fa-envelope fa-fw"></i> E-mail</a>
    <a class="sidebar-nav-item" href="https://pgp.mit.edu/pks/lookup?op=get&search=0x91F3B339B9A02A3D"><i class="fa fa-key fa-fw"></i> PGP key</a>
    <a class="sidebar-nav-item" href="https://twitter.com/pavolrusnak"><i class="fa fa-twitter fa-fw"></i> Twitter</a>
    <a class="sidebar-nav-item" href="https://github.com/prusnak"><i class="fa fa-github fa-fw"></i> GitHub</a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; 2009-{{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
