<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p><i class="fas fa-user fa-fw"></i> {{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/"><i class="fas fa-home fa-fw"></i> Home</a>
    <a class="sidebar-nav-item" href="/about"><i class="fas fa-info-circle fa-fw"></i> About</a>
    <a class="sidebar-nav-item" href="/projects"><i class="fas fa-thumbs-up fa-fw"></i> Projects</a>
    <a class="sidebar-nav-item" href="/talks"><i class="fas fa-bullhorn fa-fw"></i> Talks</a>
    <a class="sidebar-nav-item" href="/archive"><i class="fas fa-archive fa-fw"></i> Archive</a>
    <a class="sidebar-nav-item" href="mailto:pavol@rusnak.io"><i class="fas fa-envelope fa-fw"></i> E-mail</a>
    <a class="sidebar-nav-item" href="/public/pgp.txt"><i class="fas fa-key fa-fw"></i> PGP key</a>
    <a class="sidebar-nav-item" href="https://github.com/prusnak"><i class="fab fa-github fa-fw"></i> GitHub</a>
    <a class="sidebar-nav-item" href="https://mastodon.social/@stick"><i class="fab fa-mastodon fa-fw"></i> Mastodon</a>
    <a class="sidebar-nav-item" href="https://twitter.com/pavolrusnak"><i class="fab fa-twitter fa-fw"></i> Twitter</a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; 2009-{{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
