---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  {{ content }}
</article>

<aside style="margin-bottom: 1em; background: #f4f4f4; padding: 1em;">
<i class="far fa-thumbs-up fa-fw"></i> Looking for claps? Send me some <a href="https://coinos.io/stick" target="_blank">satoshis</a> instead.
</aside>

<aside style="margin-bottom: 1em; background: #f4f4f4; padding: 1em;">
<i class="far fa-comments fa-fw"></i> Looking for comments? Send me an <a href="mailto:pavol@rusnak.io?subject=Blog reaction: {{ page.title }}">e-mail</a> instead.
</aside>

<aside class="related">
  <h2>Newest Posts</h2>
  <ul class="related-posts">
    {% for post in site.posts limit:5 %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>
