---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  {{ content }}
</article>

<aside style="margin-bottom: 4em; background: #f9f9f9; padding: 1em;">
You can donate <a href="https://en.wikipedia.org/wiki/Bitcoin">Bitcoin</a> via the <a href="https://en.wikipedia.org/wiki/Lightning_Network">Lightning Network</a> here:
<div id="tippin-button" data-dest="pavolrusnak" style="margin-top: 5px;"></div>
<script src="https://tippin.me/buttons/tip.js" type="text/javascript"></script>
</aside>

<aside id="disqus_thread"></aside>
<script>
var disqus_config = function () {
  this.page.url = '{{ site.baseurl }}{{ page.url }}';
  this.page.identifier = '{{ page.url }}';
};
(function() {
var d = document, s = d.createElement('script');
s.src = '//gk2sk.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>

<aside class="related">
  <h2>Newest Posts</h2>
  <ul class="related-posts">
    {% for post in site.posts limit:5 %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>
