---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  {{ content }}
</article>

<aside style="margin-bottom: 4em; background: #f9f9f9; padding: 1em;">
If you like this post, you can donate some <a href="https://en.wikipedia.org/wiki/Bitcoin">bitcoins</a> to support me in writing more interesting content: <a href="https://blockchain.info/address/1LYdTAMkeaFA7FT2LGJhWFywAbSi7wtyDr">1LYdTAMkeaFA7FT2LGJhWFywAbSi7wtyDr</a>
</aside>
